{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline" aria-label="breadcrumb">
        <a class="nav-link" href="/">Kotisivu</a>
        <a class="nav-link active" href="#"><b>/{{boardname}}</b></a>
    </nav>
</div>
</header>
<main role="main" class="container mb-5">
    <div class="mt-5 mb-5">
        <div class="d-flex align-items-center p-3 my-0 text-white-50 bg-dark shadow-sm">
            <h3 class="mb-0 text-white">{{ boardname }}</h3>
        </div>
        <div class="list-group">
            {%for thread in threads %}
            <a href="/thread/{{thread[0]}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">{{thread[1]}}</h4>
                    <small>{{thread[3]}}</small>
                    
                </div>
                <small>Luonut: {{thread[2]}}</small>
            </a>
            {% endfor %}
        </div>
    </div>
    <div>
        {%if session.user_id%}
        <a href="/board/{{id}}/create-thread" class="btn btn-danger btn-lg">Luo uusi keskustelu</a>
        {%endif%}
        {%if secret == 1 and session.user_role==2 %}
        <a href="/board/{{id}}/invite" class="btn btn-danger btn-lg">Kutsu alueelle käyttäjiä</a>
        {%endif%}
    </div>
    {%if secret == 1%}
    <div class="mt-5 mb-5">
        <div class="d-flex align-items-center p-3 my-0 text-white-50 bg-dark shadow-sm">
            <h5 class="mb-0 text-white">Alueelle kutsutut käyttäjät</h5>
        </div>
        <div class="p-3 bg-white rounded shadow-sm">
            <p>
            {%for secretboarduser in secretboardusers%}
            {{secretboarduser[1]}}, 
            {%endfor%}
             </p>
        </div>
    </div>
    {%endif%}

</main>
{% endblock %}