{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline" aria-label="breadcrumb">
        <a class="nav-link" href="/">Kotisivu</a>
        <a class="nav-link" href="/board/{{id}}">{{boardname}}</a>
        <a class="nav-link" href="#"><b>/Kutsu käyttäjiä</b></a>
    </nav>
</div>
</header>
<main role="main" class="container-sm mb-5">
    <div class="row mt-5 mb-5">
        <div class="col-sm-8">
            <div class="d-flex align-items-center p-3 my-0 text-white-50 bg-dark shadow-sm">
                <h5 class="mb-0 text-white">Alueelle "{{boardname}}" kutsutut käyttäjät</h5>
            </div>
            <div class="p-3 bg-white rounded shadow-sm">
                <p>
                    {%for board_user in board_users%}
                    {{board_user[1]}},
                    {%endfor%}
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="d-flex align-items-center p-3 my-0 text-white-50 bg-dark shadow-sm">
                <h5 class="mb-0 text-white">Kutsu/Poista käyttäjiä alueelle</h5>
            </div>
            <div class="p-3 bg-white rounded shadow-sm">
                <form action="/board/{{id}}/invite" method="POST">
                    <label for="users">Käyttäjät:</label>
                    <select class="custom-select" size="10" id="users" name="users">
                        <option value="0" selected>Valitse käyttäjä:</option>
                        {%for user in userlist%}
                        <option value="{{user[0]}}">{{user[1]}}</option>
                        {%endfor%}
                    </select>
                    <div class="row pt-3">
                        <div class="col-sm-3">
                            <button name="submit" value="add" type="submit" class="btn btn-danger">Lisää</button>
                        </div>
                        <div class="col-sm-3">
                            <button name="submit" value="remove" type="submit" class="btn btn-danger">Poista</button>
                        </div>
                    </div>
                    {%if errormessage %}
                    <div class="row pt-3">
                        <div class="col-sm-12">
                            <p class="text-danger"><b>{{errormessage}}</b></p>
                        </div>
                    </div>
                    {%endif%}
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}