<!DOCTYPE html>
<html>

<head>
    <title>Mölinälauta - {% block title %}{% endblock %}</title>
</head>

<body>
    <div>
        <h1>Mölinälauta</h1>
        {% if session.user_id %}
        <i>Tervetuloa mölisemään!</i>
        <div class="no-class">
            <a href="\">Kotisivu</a>
            <a href="\logout">Kirjaudu ulos</a>
            <!--<a href="\search">Hae viestejä</a>-->
            <hr>
        </div>
        {% else %}
        <i>Olkaa hyvä ja kirjautukaa!</i>
        <div class="no-class">
            <a href="\">Kotisivu</a>
            <a href="\login">Kirjaudu</a>
            <a href="\register">Rekisteröidy</a>
            <!--<a href="\search">Hae viestejä</a>-->
            <hr>
        </div>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>

</html>