{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<div>
    <p>{{openingmessage}}</p>
    <hr>
    {%for comment in comments %}
    <p>{{comment[1]}} - {{comment[4]}}</p>
    <i>{{comment[2]}}</i>
    
    {% if comment[3] == session.user_id or session.user_role == 2 %}
    <a href="/remove/{{comment[0]}}">Poista</a>
    <a href="/edit/{{comment[0]}}">Muokkaa</a>
    {% endif %}
    <hr>
    {% endfor %}
    <form action="/thread/{{id}}/reply" method="post">
        Vastaa: <br>
        <textarea name="content" rows="3" cols="40"></textarea>
        <br>
        <input type="submit" value="Lähetä">
    </form>
</div>
{% endblock %}