{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline" aria-label="breadcrumb">
        <a class="nav-link" href="/">Kotisivu</a>
        <a class="nav-link" href="../board/{{board_id}}">{{ boardname }}</a>
        <a class="nav-link" href="#"><b>/{{ title }}</b></a>
    </nav>
</div>
</header>

<main class="container mb-5">
    <div class="mt-5">
        <div class="d-flex align-items-center p-3 my-0 text-white-50 bg-dark shadow-sm">
            <h3 class="mb-0 text-white">{{ title }}</h3>
        </div>
        <div class="p-3 bg-white rounded shadow-sm">
            {%for comment in comments %}
            {%if comment[5]==1%}
            <div class="card mt-3">
                <div class="card-header">
                    <b>{{ comment[4] }}</b>
                </div>
                <div class="card-body">
                    <p class="card-text">{{comment[1]}}</p>
                    {%if comment[3] == session.user_id or session.user_role == 2%}
                    <div class="btn-group" role="group" aria-label="Edit/remove">
                        <a href="/edit/{{comment[0]}}" class="btn btn-secondary">Muokkaa</a>
                        <a href="/remove/{{comment[0]}}" class="btn btn-secondary">Poista</a>
                    </div>
                    {%endif%}
                    <div>
                        <small>{{comment[2]}}</small>
                    </div>
                </div>
            </div>
            {%else%}
            <div class="card mt-3">
                <div class="card-header">
                    <b>Viesti poistettu</b>
                </div>
                <div class="card-body">
                    <p class="card-text"><i>Tämä viesti on poistettu</i></p>
                </div>
            </div>
            {%endif%}
            {%endfor%}
            {%if session.user_id%}
            <form class="p-3" action="/thread/{{id}}/reply" method="POST">
                <div class="form-group">
                    <label for="content"><b>Vastaa keskusteluun</b></label>
                    <textarea name="content" class="form-control" id="content" rows="3"
                        placeholder="Kirjoita viesti..."></textarea>
                </div>
                <button type="submit" class="btn btn-danger">Lähetä</button>
            </form>
            <div class="p-3">
                <p class="text-danger">{{errormessage}}</p>
            </div>
            {%endif%}
        </div>
    </div>
</main>
{% endblock %}